  <head>
    
    <title>Google Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="home.css" rel="stylesheet">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .container{
      margin: 20 15px;
    }
    .form-control{
      margin: 10 0px;
    }
    </style>

  </head>
  
  <body>
  <div class="container">
  <div class="row">
    <div class="col-lg-1 ">
        <img src="Capture3.PNG"  height="10%" width="250%" />
    </div>
    <div class="col-lg-1">  </div>
    <div class="col-lg-4">   
      <div class="form-group " >
        <input type="text"  class="form-control " id="user">
      </div>
    </div>
    <div class="col-lg-4"> 
     <img src="Capture3.PNG"  class="img-rounded" height="100%" width="50%" />
      </div>
  </div>

  <!-- <div class="row">
    <div class="col-lg-1">.col-sm-4</div>
    <div class="col-lg-1">.col-sm-4</div>
    <div class="col-lg-1">.col-sm-4</div>
  </div> -->


  <!-- <div class="jumbotron">

    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
    responsive, mobile-first projects on the web.</p>
  </div> -->
</div>  
    
<!-- 
    <img src="Capture3.PNG"  height="10%" width="10%" /> -->
    <!-- GOOGLE IMG -->  
         
  </body>